
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #26b152;
}
ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;


}
li{
    padding: 1em;
}

nav{
    height: 4.25em;
}
nav a{
    text-decoration: black;
}
a:hover{
    color:blue;
}
a:visited{color:grey}
.logo{
    font-size: 3em;
    padding: 0;
    flex-grow: 1;
    text-align: center;
}