
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color: black;

}

.navbar{
    /*display:flex;*/
    background-color: #a5aaa7;
    height: 4.25em;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    margin: 1em;
    font-family: 'Work Sans',"Arial","Times New Roman";
}

a:hover{
    color:blue;
}
/*a:visited{color: #5e5c5c*/
/*}*/
.logo{
    font-family:"Montserrat","Arial","sans-serif";
    font-size: 3em;
    margin: auto;
    justify-content: center;
}