
.fancy-header{
    color: #800080;
    color: #6a0dad;
    text-align: center;
}
h1{
text-decoration: underline;
color: #0a7375;
}
body{
    background-color: #fff44e;
    background-repeat: no-repeat;
    background-position: center;

}
ul{
    list-style-type:square;
}
