
.fancy-header{
    color: #e425ea;
    color: #ff5928;
    text-align: center;
}
h1{
text-decoration: underline;
color: #ff8d33;
}
body{
    font-family: 'Sansita Swashed',cursive;
    background-image: url("../htmlImages/blue-binary-code-illustration-background-artistic-numbers-data-information-abstract-bokeh-blurred-color-78971338.jpg");
    background-size: cover;
}
ul{
    list-style-type:square;
}
table{
    padding-left: 5px;
    font-size: 1em;
}
a:visited{
    color:deeppink;
}
a:active{
    background-color: #0004ff;
}
a:hover{
    color:purple;
}